# 站点隐私配置
VITE_SITE_AUTHOR=你的名字
VITE_SITE_TITLE=你的博客标题
VITE_SITE_DESCRIPTION=博客描述
VITE_SITE_EMAIL=your@email.com
VITE_SITE_GITHUB=https://github.com/yourname
VITE_SITE_ICP=京ICP备xxxxxxxx号
VITE_SITE_AVATAR=/avatar.png
